.Searchheader {
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px 0px 0px 30px;
}

.Searchbar {
  width: 600px;
  height: 40px;
  background-color: #d8d8d8;
  border: 0px;
  border-radius: 0px 8px 8px 0px;
  padding: 2px;
  box-shadow: none;
  outline: none;
  font-size: medium;
}
.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
